header {
	width: 100%;
}

.wrapper {
	height: 120px;
	margin: 0 auto;
	background-color: #9999FF;
}

.logo {
	float:left;
	margin: 10px;
	width: 100px;
	height: 100px;
}

.site-name {
	padding: 40px;
	font-size: 22pt;
}

main {
	margin: 0 auto;
}

.content {
	max-width: 1080px;
	margin: 0 auto;
	display: flex;
	flex-direction:column;
}

form {
	max-width: 920px;
	margin: 0 auto;
}

nav {
	width: 100%;
	margin: 0 auto;
	background-color: #AAAAFF;
	text-align: center;
}

#nav-menu {
	display: flex;
	margin: 0 0 0 0;
	padding: 10px 0 10px 0;
	list-style-type: none;
}

#nav-menu li {
	flex-grow: 1;
}

a {
	color: #000000;
}

table {
	border: 2px solid #000000;
	border-spacing: 15px;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #FFAAAA;
}

footer {
	width: 100%;
	margin: 10px auto;
	padding: 0 0 0 30px;
}

@media screen and (max-width: 1080px) {
	.content-links {
		order: 0;
	}
	
	.content-table {
		order: 2;
	}
	
	.content-form {
		order: 1;
	}
	
	#nav-menu {
		flex-direction: column;
		flex-wrap: wrap;
	}
}
